<div class="searchResults" tal:condition="php: !is_null(RecordSetList['records'])">
	<h3 tal:content="structure RecordSetList/title"/>
	<span tal:omit-tag="" tal:condition="php: count(RecordSetList['records'])">
		<div tal:repeat="item RecordSetList/records" tal:attributes="class item/__cssClass__">
			<div class="left" tal:condition="php: item['catalogdetail_image1']['mediaId'] gt 0">
				<a href="" tal:attributes="href item/__url__; title item/catalogdetail_title"><span tal:omit-tag="" tal:content="structure item/catalogdetail_image1/__html__" /></a>
			</div>
			<div class="right" tal:condition="php: item['catalog_type'] == 'CATALOG'">
				<h4><a href="" tal:attributes="href item/__url__; title item/catalogdetail_title" tal:content="structure item/catalogdetail_title"></a></h4>
				<p tal:condition="item/catalogdetail_place"><strong tal:content="structure php: __T('MW_CATALOG_PLACE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_place" /></p>
				<p tal:condition="item/catalogdetail_date"><strong tal:content="structure php: __T('MW_CATALOG_DATE2')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_date" /></p>
				<p tal:condition="item/catalogdetail_author"><strong tal:content="structure php: __T('MW_CATALOG_AUTHOR')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_author" /></p>
				<p tal:condition="item/catalogdetail_category"><strong tal:content="structure php: __T('MW_CATALOG_CATEGORY')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_category" /></p>
			</div>
			<div class="right" tal:condition="php: item['catalog_type'] == 'MULTIMEDIA'">
				<h4><a href="" tal:attributes="href item/__url__; title item/catalogdetail_title" tal:content="structure item/catalogdetail_title"></a></h4>
				<p tal:condition="item/catalogdetail_category"><strong tal:content="structure php: __T('Tipo di risorsa')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_category" /></p>
				<p tal:condition="item/catalogdetail_author"><strong tal:content="structure php: __T('MW_CATALOG_AUTHOR')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_author" /></p>
				<p tal:condition="item/catalogdetail_city"><strong tal:content="structure php: __T('Luogo di edizione')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_city" /></p>
				<p tal:condition="item/catalogdetail_publisher"><strong tal:content="structure php: __T('Editore')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_publisher" /></p>
				<p tal:condition="item/catalogdetail_date"><strong tal:content="structure php: __T('MW_CATALOG_DATE2')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_date" /></p>
			</div>
			<div class="right" tal:condition="php: item['catalog_type'] == 'ARCHIVE'">
				<h4><a href="" tal:attributes="href item/__url__; title item/catalogdetail_title" tal:content="structure item/catalogdetail_title"></a></h4>
				<p tal:condition="item/catalogdetail_place2"><strong tal:content="structure php: __T('Complesso archivistico')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_place2" /></p>
				<p tal:condition="item/catalogdetail_pressmark"><strong tal:content="structure php: __T('Segnatura')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_pressmark" /></p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</span>
	<span tal:omit-tag="" tal:condition="php: !count(RecordSetList['records'])">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>