<span tal:omit-tag="">
	<span tal:omit-tag="" tal:define="description php:MW_addImageInsideParagraph(RecordDetail['pressroomdetail_description'], RecordDetail['pressroomdetail_image'], 'thumb')"/>
	<h2 tal:content="structure RecordDetail/pressroomdetail_title"></h2>
	<h4 class="subtitle" tal:content="structure RecordDetail/pressroomdetail_magazine"></h4>
	<h4 class="subtitle"><span tal:omit-tag="" tal:content="php: MW_formatDate(RecordDetail['pressroomdetail_date'])" />, <span tal:omit-tag="" tal:content="structure RecordDetail/pressroomdetail_author" /></h4>
	<span tal:content="structure description" tal:omit-tag="" />
	<p tal:condition="RecordDetail/pressroomdetail_url" ><a href="" tal:attributes="href RecordDetail/pressroomdetail_url; structure title RecordDetail/pressroomdetail_url" tal:content="structure RecordDetail/pressroomdetail_url">Link</a></p>
	<div class="clear"></div>
	<span tal:omit-tag="" tal:condition="php: count(RecordDetail['media'])">
		<h4 tal:content="php: __T('MW_LINKED_MEDIA')" class="downloadTitle" />
		<ul class="downloadList">
			<li tal:repeat="item RecordDetail/media" tal:content="structure item/media_id/__html__" />
		</ul>
	</span>
</span>