.featureBox a.moreRight {
	padding-right: 0;
	margin-right: -7px;
}

ul.navigationMenu  li a ,
ul.navigationMenu  li span {
   width: 212px;
}

div#rightSidebar {
	height: 415px;
}

div.boxSidebar form {
	padding: 0;
	width: 216px;
}

div.boxSidebar {
	width: 228px;
}

#boxLogin table {
	width: 214px;
}
	