<span tal:omit-tag="">
<div class="details">
		<h2 tal:content="structure Component/catalogdetail_title" />
		<h4 class="subtitle" tal:condition="php: !empty(Component['catalogdetail_subtitle'])" tal:content="structure Component/catalogdetail_subtitle" />
		<div class="clear spacer"></div>
		<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_image1']['mediaId'] gt 0" tal:content="structure Component/catalogdetail_image1/__html__" />
		<dl class="properties" tal:condition="php: Component['catalog_type'] == 'CATALOG'">
			<dt tal:content="structure php: __T('MW_CATALOG_INTERNAL')"></dt>
			<dd><span tal:omit-tag="" tal:condition="php: Component['catalogdetail_isInternal']['checked']!=''" tal:content="php: __T('MW_CATALOG_INTERNAL_ITEM1')"></span>
				<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_isInternal']['checked']==''" tal:content="php: __T('MW_CATALOG_INTERNAL_ITEM2')"></span>
			</dd>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_category']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_CATEGORY')"></dt>
				<dd tal:content="structure Component/catalogdetail_category"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_country']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_COUNTRY')"></dt>
				<dd tal:content="structure Component/catalogdetail_country"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_city']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_CITY')"></dt>
				<dd tal:content="structure Component/catalogdetail_city"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_place']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_PLACE')"></dt>
				<dd tal:content="structure Component/catalogdetail_place"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_place2']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_PLACE2')"></dt>
				<dd tal:content="structure Component/catalogdetail_place2"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_collection']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_COLLECTION')"></dt>
				<dd tal:content="structure Component/catalogdetail_collection"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_inventory']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_INVENTORY')"></dt>
				<dd tal:content="structure Component/catalogdetail_inventory"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_noteIndex']!=''">
				<dt tal:content="structure php: __T('Voci d\'indice')"></dt>
				<dd tal:content="structure Component/catalogdetail_noteIndex"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_material']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_MATERIAL')"></dt>
				<dd tal:content="structure Component/catalogdetail_material"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_author']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_AUTHOR')"></dt>
				<dd tal:content="structure Component/catalogdetail_author"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_date']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_DATE2')"></dt>
				<dd tal:content="structure Component/catalogdetail_date"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_origin']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_ORIGIN')"></dt>
				<dd>
					<span tal:omit-tag="" tal:content="structure Component/catalogdetail_origin"></span>
					<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_FK_touristsite_id']!=''" tal:content="structure Component/catalogdetail_FK_touristsite_id"/>
				</dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_dimension']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_DIMENSION')"></dt>
				<dd tal:content="structure Component/catalogdetail_dimension"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_copyright']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_COPYRIGHT')"></dt>
				<dd tal:content="structure Component/catalogdetail_copyright"></dd>
			</span>	
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_rights']!=''">
				<dt tal:content="structure php: __T('Diritti oggetto analogico')"></dt>
				<dd tal:content="structure Component/catalogdetail_rights"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_geo']!=''">
				<dt tal:content="structure php: __T('Coordinate geografiche')"></dt>
				<dd tal:content="structure Component/catalogdetail_geo"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_urlExternal']!=''">
				<dt tal:content="structure php: __T('Link esterno')"></dt>
				<dd tal:content="structure Component/catalogdetail_urlExternal"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_urlInternal']!=''">
				<dt tal:content="structure php: __T('Link interno')"></dt>
				<dd tal:content="structure Component/catalogdetail_urlInternal"></dd>
			</span>
		</dl>
		<dl class="properties" tal:condition="php: Component['catalog_type'] == 'MULTIMEDIA'">
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_code']!=''">
				<dt tal:content="structure php: __T('Identificativo nel sistema di provenienza')"></dt>
				<dd tal:content="structure Component/catalogdetail_code"></dd>
			</span>
			<dt tal:content="structure php: __T('Oggetto dell\'istituto')"></dt>
			<dd><span tal:omit-tag="" tal:condition="php: Component['catalogdetail_isInternal']['checked']!=''" tal:content="structure php: __T('Sì')"></span>
				<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_isInternal']['checked']==''" tal:content="php: __T('No')"></span>
			</dd>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_category']!=''">
				<dt tal:content="structure php: __T('Tipo risorsa')"></dt>
				<dd tal:content="structure Component/catalogdetail_category"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_language']!=''">
				<dt tal:content="structure php: __T('Lingua')"></dt>
				<dd tal:content="structure Component/catalogdetail_language"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_author']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_AUTHOR')"></dt>
				<dd tal:content="structure Component/catalogdetail_author"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_names']!=''">
				<dt tal:content="structure php: __T('Nomi')"></dt>
				<dd tal:content="structure Component/catalogdetail_names"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_country']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_COUNTRY')"></dt>
				<dd tal:content="structure Component/catalogdetail_country"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_city']!=''">
				<dt tal:content="structure php: __T('Luogo di edizione')"></dt>
				<dd tal:content="structure Component/catalogdetail_city"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_publisher']!=''">
				<dt tal:content="structure php: __T('Editore')"></dt>
				<dd tal:content="structure Component/catalogdetail_publisher"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_date']!=''">
				<dt tal:content="structure php: __T('Data')"></dt>
				<dd tal:content="structure Component/catalogdetail_date"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_rights']!=''">
				<dt tal:content="structure php: __T('Diritti')"></dt>
				<dd tal:content="structure Component/catalogdetail_rights"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_subjects']!=''">
				<dt tal:content="structure php: __T('Soggetti')"></dt>
				<dd tal:content="structure Component/catalogdetail_subjects"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_recipients']!=''">
				<dt tal:content="structure php: __T('Destinatari')"></dt>
				<dd tal:content="structure Component/catalogdetail_recipients"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_place']!=''">
				<dt tal:content="structure php: __T('Istituto di conservazione')"></dt>
				<dd tal:content="structure Component/catalogdetail_place"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_fund']!=''">
				<dt tal:content="structure php: __T('Fondo')"></dt>
				<dd tal:content="structure Component/catalogdetail_fund"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_material']!=''">
				<dt tal:content="structure php: __T('Formato')"></dt>
				<dd tal:content="structure Component/catalogdetail_material"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_dimension']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_DIMENSION')"></dt>
				<dd tal:content="structure Component/catalogdetail_dimension"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_place2']!=''">
				<dt tal:content="structure php: __T('Collocazione')"></dt>
				<dd tal:content="structure Component/catalogdetail_place2"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_availability']!=''">
				<dt tal:content="structure php: __T('Disponibilità')"></dt>
				<dd tal:content="structure Component/catalogdetail_availability"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_FK_touristsite_id']!=''">
				<dt tal:content="structure php: __T('Luogo collegato')"></dt>
				<dd tal:content="structure Component/catalogdetail_FK_touristsite_id"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_copyright']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_COPYRIGHT')"></dt>
				<dd tal:content="structure Component/catalogdetail_copyright"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_geo']!=''">
				<dt tal:content="structure php: __T('Coordinate geografiche')"></dt>
				<dd tal:content="structure Component/catalogdetail_geo"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_urlExternal']!=''">
				<dt tal:content="structure php: __T('Link esterno')"></dt>
				<dd tal:content="structure Component/catalogdetail_urlExternal"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_urlInternal']!=''">
				<dt tal:content="structure php: __T('Link interno')"></dt>
				<dd tal:content="structure Component/catalogdetail_urlInternal"></dd>
			</span>
		</dl>
		<dl class="properties" tal:condition="php: Component['catalog_type'] == 'ARCHIVE'">
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_code']!=''">
				<dt tal:content="structure php: __T('Identificativo nel sistema di provenienza')"></dt>
				<dd tal:content="structure Component/catalogdetail_code"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_project']!=''">
				<dt tal:content="structure php: __T('Identificativo progetto digitalizzazione')"></dt>
				<dd tal:content="structure Component/catalogdetail_project"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_area']!=''">
				<dt tal:content="structure php: __T('Area tematica')"></dt>
				<dd tal:content="structure Component/catalogdetail_area"></dd>
			</span>			
			<dt tal:content="structure php: __T('Oggetto dell\'istituto')"></dt>
			<dd><span tal:omit-tag="" tal:condition="php: Component['catalogdetail_isInternal']['checked']!=''" tal:content="php: __T('Sì')"></span>
				<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_isInternal']['checked']==''" tal:content="php: __T('No')"></span>
			</dd>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_place']!=''">
				<dt tal:content="structure php: __T('Istituto di conservazione')"></dt>
				<dd tal:content="structure Component/catalogdetail_place"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_country']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_COUNTRY')"></dt>
				<dd tal:content="structure Component/catalogdetail_country"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_city']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_CITY')"></dt>
				<dd tal:content="structure Component/catalogdetail_city"></dd>
			</span>		
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_place2']!=''">
				<dt tal:content="structure php: __T('Complesso archivistico')"></dt>
				<dd tal:content="structure Component/catalogdetail_place2"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_pressmark']!=''">
				<dt tal:content="structure php: __T('Segnatura')"></dt>
				<dd tal:content="structure Component/catalogdetail_pressmark"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_date']!=''">
				<dt tal:content="structure php: __T('Estremi cronologici')"></dt>
				<dd tal:content="structure Component/catalogdetail_date"></dd>
			</span>		
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_publisher']!=''">
				<dt tal:content="structure php: __T('Soggetto produttore')"></dt>
				<dd tal:content="structure Component/catalogdetail_publisher"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_category']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_CATEGORY')"></dt>
				<dd tal:content="structure Component/catalogdetail_category"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_author']!=''">
				<dt tal:content="structure php: __T('MW_CATALOG_AUTHOR')"></dt>
				<dd tal:content="structure Component/catalogdetail_author"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_language']!=''">
				<dt tal:content="structure php: __T('Lingua')"></dt>
				<dd tal:content="structure Component/catalogdetail_language"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_noteIndex']!=''">
				<dt tal:content="structure php: __T('Voci d\'indice')"></dt>
				<dd tal:content="structure Component/catalogdetail_noteIndex"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_material']!=''">
				<dt tal:content="structure php: __T('Tipologia dei materiali')"></dt>
				<dd tal:content="structure Component/catalogdetail_material"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_dimension']!=''">
				<dt tal:content="structure php: __T('Formato e consistenza')"></dt>
				<dd tal:content="structure Component/catalogdetail_dimension"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_note']!=''">
				<dt tal:content="structure php: __T('Note')"></dt>
				<dd tal:content="structure Component/catalogdetail_note"></dd>
			</span>						
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_availability']!=''">
				<dt tal:content="structure php: __T('Disponibilità')"></dt>
				<dd tal:content="structure Component/catalogdetail_availability"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_FK_touristsite_id']!=''">
				<dt tal:content="structure php: __T('Luogo collegato')"></dt>
				<dd tal:content="structure Component/catalogdetail_FK_touristsite_id"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_geo']!=''">
				<dt tal:content="structure php: __T('Coordinate geografiche')"></dt>
				<dd tal:content="structure Component/catalogdetail_geo"></dd>
			</span>			
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_copyright']!=''">
				<dt tal:content="structure php: __T('Diritti oggetto digitale')"></dt>
				<dd tal:content="structure Component/catalogdetail_copyright"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_rights']!=''">
				<dt tal:content="structure php: __T('Diritti oggetto analogico')"></dt>
				<dd tal:content="structure Component/catalogdetail_rights"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_urlExternal']!=''">
				<dt tal:content="structure php: __T('Link esterno')"></dt>
				<dd tal:content="structure Component/catalogdetail_urlExternal"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: Component['catalogdetail_urlInternal']!=''">
				<dt tal:content="structure php: __T('Link interno')"></dt>
				<dd tal:content="structure Component/catalogdetail_urlInternal"></dd>
			</span>
		</dl>
		<div class="clear"></div>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(Component['catalogdetail_resources'])">
			<h3 tal:content="structure php: __T('Risorse correlate')" />
			<span tal:omit-tag="" tal:content="structure Component/catalogdetail_resources" />
		</span>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(Component['catalogdetail_description'])">
			<h3 tal:content="structure php: __T('MW_CATALOG_DESCRIPTION')" />
			<span tal:omit-tag="" tal:content="structure Component/catalogdetail_description" />
		</span>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(Component['catalogdetail_bibliography'])">
			<h3 tal:content="structure php: __T('MW_CATALOG_BIBLIO')" />
			<span tal:omit-tag="" tal:content="structure Component/catalogdetail_bibliography" />
		</span>
		<span tal:omit-tag="" tal:condition="php: count(Component['media'])">
			<h3 tal:content="php: __T('MW_LINKED_MEDIA')" class="downloadTitle" />
			<ul class="downloadList">
				<li tal:repeat="item Component/media" tal:content="structure item/media_id/__html__" />
			</ul>
		</span>
		<div id="imageList" tal:condition="php: count(Component['images'])">
			<span tal:omit-tag="" tal:repeat="item Component/images" tal:content="structure item/image_id/__html__" />
			<div class="clear"></div>
		</div>
	</div>
	<div class="searchResults" tal:condition="php: count(Component['routes'])">
		<h3 tal:content="php: __T('MW_TR_LINKED')"/>
		<div tal:repeat="item Component/routes" tal:attributes="class item/__cssClass__">
			<div class="left" tal:condition="php: item['touristroutedetail_map']['mediaId'] gt 0">
			<a href="" tal:attributes="href item/__url__; title item/touristroutedetail_name"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_map/__html__" /></a>
			</div>
			<div class="right">
				<h4><a href="" tal:attributes="href item/__url__; title item/touristroutedetail_name" tal:content="structure item/touristroutedetail_name"></a></h4>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_category"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_category" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_country"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_country" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_region"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_region" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_province"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_province" /></span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="searchResults" tal:condition="php: count(Component['sites'])">
		<h3 tal:content="php: __T('MW_TR_TOURISTSITES')"/>
		<div tal:repeat="item Component/sites" tal:attributes="class item/__cssClass__">
			<div class="left" tal:condition="php: item['touristsitedetail_image1']['mediaId'] gt 0">
						<a href="" tal:attributes="href item/__url__"><span tal:omit-tag="" tal:content="structure item/touristsitedetail_image1/__html__" /></a>
			</div>
			<div class="right">
				<h4><a href="" tal:attributes="href item/__url__; structure title item/touristsitedetail_name" tal:content="structure item/touristsitedetail_name"></a></h4>
					<span tal:omit-tag="" tal:condition="item/touristsitedetail_category"><span tal:omit-tag="" tal:content="structure item/touristsitedetail_category" />, </span>
					<span tal:omit-tag="" tal:condition="item/touristsitedetail_country"><span tal:omit-tag="" tal:content="structure item/touristsitedetail_country" />, </span>
					<span tal:omit-tag="" tal:condition="item/touristsitedetail_region"><span tal:omit-tag="" tal:content="structure item/touristsitedetail_region" />, </span>
					<span tal:omit-tag="" tal:condition="item/touristsitedetail_province"><span tal:omit-tag="" tal:content="structure item/touristsitedetail_province" /></span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</span>