<div id="boxSearch" class="panel panel-primary">    
	<div class="panel-heading">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;
		<span class="lead" tal:content="SearchBox/title" /></div>
	<div class="panel-body">
		<form role="form" method="post" action="" tal:attributes="action SearchBox/__url__">
			<div class="form-group">
			<label for="searchSidebar" tal:content="SearchBox/label" />
			<input type="text" name="search" id="searchSidebar" class="form-control input-sm" tal:attributes="value SearchBox/value"/>
			</div>
			<input type="submit" class="btn btn-primary btn-sm" tal:attributes="value SearchBox/buttonLabel" />
			
		</form> 
	</div>
</div>
