<span tal:omit-tag="">
	<h2 tal:content="structure RecordDetail/eventdetail_title" />
	<h4 class="subtitle">
		<span tal:omit-tag="" tal:content="structure RecordDetail/eventdetail_place" />
		<span tal:omit-tag="" tal:condition="php: !empty(RecordDetail['eventdetail_place']) && !empty(RecordDetail['eventdetail_promoter'])"> - </span>
		<span tal:omit-tag="" tal:content="structure RecordDetail/eventdetail_promoter" />
	</h4>
	<h4 class="subtitle"><span tal:omit-tag="" tal:content="structure RecordDetail/eventdetail_date" /> <span tal:omit-tag="" tal:content="structure RecordDetail/eventdetail_year" /> - <span tal:omit-tag="" tal:content="structure RecordDetail/eventdetail_category" /></h4>
	<span tal:condition="RecordDetail/eventdetail_image/mediaId" tal:content="structure RecordDetail/eventdetail_image/__html__" />
	<span tal:content="structure RecordDetail/eventdetail_description" tal:omit-tag="" />
	<p tal:condition="RecordDetail/eventdetail_email" tal:content="structure php: __Link::makeEmailLink(RecordDetail['eventdetail_email'])" ></p>
	<p tal:condition="RecordDetail/eventdetail_url" tal:content="structure php: __Link::formatLink(RecordDetail['eventdetail_url'])" ></p>
	<div class="clear"></div>
	<span tal:omit-tag="" tal:condition="php: count(RecordDetail['media'])">
		<h4 tal:content="php: __T('MW_LINKED_MEDIA')" class="downloadTitle" />
		<ul class="downloadList">
			<li tal:repeat="RecordDetail RecordDetail/media" tal:content="structure RecordDetail/media_id/__html__" />
		</ul>
	</span>
</span>