<div class="searchResults" tal:condition="php: !is_null(RecordSetList['records'])">
	<h3 tal:content="structure RecordSetList/title"/>
	<span tal:omit-tag="" tal:condition="php: count(RecordSetList['records'])">
		<div tal:repeat="item RecordSetList/records" tal:attributes="class item/__cssClass__">
				<h4><a href="" tal:attributes="href item/__url__; title item/mountingdetail_title" tal:content="structure item/mountingdetail_title"></a></h4>
				<p tal:condition="item/mountingdetail_category"><strong tal:content="structure php: __T('MW_MOUNTING_CATEGORY')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/mountingdetail_category" /></p>
				<p tal:condition="item/mountingdetail_type"><strong tal:content="structure php: __T('MW_MOUNTING_TYPE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/mountingdetail_type" /></p>
				<p tal:condition="item/mountingdetail_region"><strong tal:content="structure php: __T('MW_MOUNTING_REGION')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/mountingdetail_region" /></p>
		</div>
		<div class="clear"></div>
	</span>
	<span tal:omit-tag="" tal:condition="php: !count(RecordSetList['records'])">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>