<span tal:omit-tag="">
	<div class="details">
		<h2 tal:content="structure RecordDetail/projectdetail_name" />
		<div class="clear spacer"></div>
		<dl class="properties">
			<span tal:omit-tag="" tal:condition="php: RecordDetail['projectdetail_shortname']!=''">
				<dt tal:content="structure php: __T('MW_PROJECT_SHORTNAME')"></dt>
				<dd tal:content="structure RecordDetail/projectdetail_shortname"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['projectdetail_promoter']!=''">
				<dt tal:content="structure php: __T('MW_PROJECT_PROMOTER')"></dt>
				<dd tal:content="structure RecordDetail/projectdetail_promoter"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['projectdetail_responsable']!=''">
				<dt tal:content="structure php: __T('MW_PROJECT_RESPONSABLE')"></dt>
				<dd tal:content="structure RecordDetail/projectdetail_responsable"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['projectdetail_type']!=''">
				<dt tal:content="structure php: __T('MW_PROJECT_TYPE')"></dt>
				<dd tal:content="structure RecordDetail/projectdetail_type"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['projectdetail_category']!=''">
				<dt tal:content="structure php: __T('MW_PROJECT_CATEGORY')"></dt>
				<dd tal:content="structure RecordDetail/projectdetail_category"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['projectdetail_startdate']!='' && RecordDetail['projectdetail_startdate']!='0'">
				<dt tal:content="structure php: __T('MW_PROJECT_STARTDATE')"></dt>
				<dd tal:content="structure RecordDetail/projectdetail_startdate"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['projectdetail_enddate']!='' && RecordDetail['projectdetail_enddate']!='0'">
				<dt tal:content="structure php: __T('MW_PROJECT_ENDDATE')"></dt>
				<dd tal:content="structure RecordDetail/projectdetail_enddate"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['projectdetail_url']!=''">
				<dt tal:content="structure php: __T('MW_PROJECT_URL')"></dt>
				<dd tal:content="structure php:org_glizy_helpers_Link::formatLink(RecordDetail['projectdetail_url'])"></dd>
			</span>			
		</dl>
		<div class="clear"></div>
		<span tal:condition="php: !glz_empty(RecordDetail['projectdetail_financing'])" tal:omit-tag="">
			<h3 tal:content="structure php: org_glizy_locale_Locale::get('MW_PROJECT_FINANCING')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/projectdetail_financing" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['projectdetail_abstract'])" tal:omit-tag="">
			<h3 tal:content="structure php: org_glizy_locale_Locale::get('MW_PROJECT_ABSTRACT')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/projectdetail_abstract" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['projectdetail_description'])" tal:omit-tag="">
			<h3 tal:content="structure php: org_glizy_locale_Locale::get('MW_PROJECT_DESCRIPTION')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/projectdetail_description" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['projectdetail_info'])" tal:omit-tag="">
			<h3 tal:content="structure php: org_glizy_locale_Locale::get('MW_PROJECT_INFO')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/projectdetail_info" />
		</span>
		<span tal:omit-tag="" tal:condition="php: count(RecordDetail['media'])">
			<h4 tal:content="php: __T('MW_LINKED_MEDIA')" class="downloadTitle" />
			<ul class="downloadList">
				<li tal:repeat="item RecordDetail/media" tal:content="structure item/media_id/__html__" />
			</ul>
		</span>
	</div>
</span>