<div class="searchResults" tal:condition="php: !is_null(RecordSetList['records'])">
	<h3 tal:content="structure RecordSetList/title"/>
	<span tal:omit-tag="" tal:condition="php: count(RecordSetList['records'])">
		<div tal:repeat="item RecordSetList/records" tal:attributes="class item/__cssClass__">
			<div class="around">
				<h4><a href="" tal:attributes="href item/__url__; structure title item/regulationdetail_title" tal:content="structure item/regulationdetail_title"></a></h4>
				<p tal:condition="item/regulationdetail_type"><strong tal:content="structure php: __T('MW_REGULATION_TYPE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/regulationdetail_type" /></p>
				<p tal:condition="item/regulationdetail_code"><strong tal:content="structure php: __T('MW_REGULATION_CODE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/regulationdetail_code" /></p>
				<p tal:condition="item/regulationdetail_date"><strong tal:content="structure php: __T('MW_REGULATION_DATE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/regulationdetail_date" /></p>
				<p tal:condition="item/regulationdetail_office"><strong tal:content="structure php: __T('MW_REGULATION_OFFICE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/regulationdetail_office" /></p>
			</div>
		</div>
	</span>
	<span tal:omit-tag="" tal:condition="php: !count(RecordSetList['records'])">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>