<div id="blogComments">
	<h4 tal:condition="php: count(Comment['records'])>0 OR Comment['isOpen'] EQ 1" tal:content="structure php: __T('MW_BLOG_COMMENTS')" />
	<span tal:omit-tag="" tal:condition="php: count(Comment['records'])>0">
		<div class="comment" tal:repeat="item Comment/records">
			<p class="commentInfo">
				<span tal:omit-tag="" tal:content="structure php: __T('MW_BLOG_SEND_FROM')" /> <span class="blogAuthor" tal:content="structure item/author" /> | <span tal:omit-tag="" tal:content="item/blogcomment_date" />
				<span tal:omit-tag="" tal:condition="Comment/isAdmin"> | <a href="" tal:attributes="structure href item/__urldelete__;structure onclick php: 'return confirm(\'' . __T('MW_BLOG_DELETE_CONFIRM') .'\')' " tal:content="structure php: __T('MW_BLOG_DELETE')">Cancella</a></span>
			</p>
			<span tal:omit-tag="" tal:content="structure item/blogcomment_text" />
		</div>
	</span>	
	<span tal:omit-tag="" tal:condition="php:  Comment['isOpen'] EQ 1">
		<h4 tal:content="structure php: __T('MW_BLOG_ADD_COMMENT')"></h4>
		<div class="data" tal:content="structure php: __T('MW_BLOG_NO_TAG')"></div>
		<form id="commentform" name="commentform" method="post" action="" autocomplete="off" tal:attributes="action Comment/__url__">
			<input name="action" value="addcomment_blog" type="hidden" />
			<textarea tabindex="4" id="text" name="text" rows="10" cols="50" class="full"></textarea><br />
			<input id="post" name="post" type="submit" tal:attributes="structure value php: __T('MW_BLOG_SEND_COMMENT')"/>
		</form>
	</span>
</div>