<span tal:omit-tag="">
	<div class="details">
		<h2 tal:content="structure RecordDetail/exhibitiondetail_title" />
		<div class="clear spacer"></div>
		<span tal:omit-tag="" tal:condition="php: RecordDetail['exhibitiondetail_image']['mediaId'] gt 0" tal:content="structure RecordDetail/exhibitiondetail_image/__html__" />
		<dl class="properties">
			<span tal:omit-tag="" tal:condition="php: RecordDetail['exhibitiondetail_category']!=''">
				<dt tal:content="structure php: __T('MW_EXHIBITION_CATEGORY')"></dt>
				<dd tal:content="structure RecordDetail/exhibitiondetail_category"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['exhibitiondetail_startDate']!=''">
				<dt tal:content="structure php: __T('MW_EXHIBITION_STARTDATE')"></dt>
				<dd tal:content="structure RecordDetail/exhibitiondetail_startDate"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['exhibitiondetail_endDate']!=''">
				<dt tal:content="structure php: __T('MW_EXHIBITION_ENDDATE')"></dt>
				<dd tal:content="structure RecordDetail/exhibitiondetail_endDate"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['exhibitiondetail_place1']!=''">
				<dt tal:content="structure php: __T('MW_EXHIBITION_PLACE')"></dt>
				<dd tal:content="structure RecordDetail/exhibitiondetail_place1"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['exhibitiondetail_place2']!=''">
				<dt tal:content="structure php: __T('MW_EXHIBITION_VENUE')"></dt>
				<dd tal:content="structure RecordDetail/exhibitiondetail_place2"></dd>
			</span>
		</dl>
		<div class="clear"></div>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_editors'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_EDITORS')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_editors" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_project'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_SCIENTIFIC_PROJECT')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_project" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_openingHours'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_TIMETABLE')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_openingHours" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_tickets'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_TICKETS')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_tickets" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_services'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_SERVICES')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_services" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_vernissage'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_VERNISSAGE')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_vernissage" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_catalog'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_CATALOGUE')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_catalog" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_pressDepartment'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_PRESS_OFFICE')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_pressDepartment" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_reviews'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_REVIEWS')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_reviews" />
		</span>
		<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_sponsor'])" tal:omit-tag="">
			<h3 tal:content="structure php: __T('MW_EXHIBITION_SPONSORS')"></h3>
			<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_sponsor" />
		</span>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_address']) || !glz_empty(RecordDetail['exhibitiondetail_phone']) || !glz_empty(RecordDetail['exhibitiondetail_email']) || !glz_empty(RecordDetail['exhibitiondetail_url'])">
			<h3 tal:content="structure php: __T('Contatti')"></h3>
			<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_address'])" tal:omit-tag="">
				<h5 tal:content="structure php: __T('MW_EXHIBITION_ADDRESS')"></h5>
				<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_address" />
			</span>
			<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_phone'])" tal:omit-tag="">
				<h5 tal:content="structure php: __T('MW_EXHIBITION_PHONE')"></h5>
				<span tal:omit-tag="" tal:content="structure RecordDetail/exhibitiondetail_phone" />
			</span>
			<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_email'])" tal:omit-tag="">
				<h5 tal:content="structure php: __T('MW_EXHIBITION_EMAIL')"></h5>
				<span tal:omit-tag="" tal:content="structure php:org_glizy_helpers_Link::makeEmailLink(RecordDetail['exhibitiondetail_email'])" />
			</span>
			<span tal:condition="php: !glz_empty(RecordDetail['exhibitiondetail_url'])" tal:omit-tag="">
				<h5 tal:content="structure php: __T('MW_EXHIBITION_WEBSITE')"></h5>
				<span tal:omit-tag="" tal:content="structure php:org_glizy_helpers_Link::formatLink(RecordDetail['exhibitiondetail_url'])" />
			</span>
		</span>
		<span tal:omit-tag="" tal:condition="php: count(RecordDetail['media'])">
			<h3 tal:content="php: __T('MW_LINKED_MEDIA')" class="downloadTitle" />
			<ul class="downloadList">
				<li tal:repeat="item RecordDetail/media" tal:content="structure item/media_id/__html__" />
			</ul>
		</span>
	</div>
</span>