<div class="searchResults" tal:condition="php: !is_null(RecordSetList['records'])">
	<h3 tal:content="structure RecordSetList/title"/>
	<span tal:omit-tag="" tal:condition="php: count(RecordSetList['records'])">
		<div tal:repeat="item RecordSetList/records" tal:attributes="class item/__cssClass__">
			<div class="around">
				<h4><a href="" tal:attributes="href item/__url__; structure title item/projectdetail_name" tal:content="structure item/projectdetail_name"></a></h4>
				<span tal:omit-tag="" tal:content="structure item/projectdetail_abstract" />
			</div>
		</div>
	</span>
	<span tal:omit-tag="" tal:condition="php: !count(RecordSetList['records'])">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>