<div class="searchResults" tal:condition="php: !is_null(RecordSetList['records'])">
	<h3 tal:content="structure RecordSetList/title"/>
	<span tal:omit-tag="" tal:condition="php: count(RecordSetList['records'])">
		<div tal:repeat="item RecordSetList/records" tal:attributes="class item/__cssClass__">
			<div class="left" tal:condition="php: item['publicationdetail_FK_photo_id']['mediaId'] gt 0">
			<a href="" tal:attributes="href item/__url__; structure title item/publicationdetail_title"><span tal:omit-tag="" tal:content="structure item/publicationdetail_FK_photo_id/__html__" /></a>
			</div>
			<div class="right">
				<h4><a href="" tal:attributes="href item/__url__; structure title item/publicationdetail_title" tal:content="structure item/publicationdetail_title"></a></h4>
				<p tal:condition="item/publicationdetail_type"><strong tal:content="structure php: __T('MW_PUBLICATION_TYPE')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/publicationdetail_type" /></p>
			</div>
			<div class="clear"></div>
		</div>
	</span>
	<span tal:omit-tag="" tal:condition="php: !count(RecordSetList['records'])">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>