<span tal:omit-tag="">
<div class="details">
		<h2 tal:content="structure RecordDetail/touristsitedetail_name"></h2>
		<div class="clear spacer"></div>
		<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_image1']['mediaId'] gt 0" tal:content="structure RecordDetail/touristsitedetail_image1/__html__" />
		<dl class="properties">
			<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_category']!=''">
				<dt tal:content="structure php: __T('MW_TR_CATEGORY')"></dt>
				<dd tal:content="structure RecordDetail/touristsitedetail_category"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_country']!=''">
				<dt tal:content="structure php: __T('MW_TR_COUNTRY')"></dt>
				<dd tal:content="structure RecordDetail/touristsitedetail_country"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_region']!=''">
				<dt tal:content="structure php: __T('MW_TR_REGION')"></dt>
				<dd tal:content="structure RecordDetail/touristsitedetail_region"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_province']!=''">
				<dt tal:content="structure php: __T('MW_TR_PROVINCE')"></dt>
				<dd tal:content="structure RecordDetail/touristsitedetail_province"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_town']!=''">
				<dt tal:content="structure php: __T('MW_TR_TOWN')"></dt>
				<dd tal:content="structure RecordDetail/touristsitedetail_town"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_place']!=''">
				<dt tal:content="structure php: __T('MW_TR_OWNERSHIP')"></dt>
				<dd tal:content="structure RecordDetail/touristsitedetail_place"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_compilationDate']!=''">
				<dt tal:content="structure php: __T('MW_TR_COMPILATIONDATE')"></dt>
				<dd tal:content="structure RecordDetail/touristsitedetail_compilationDate"></dd>
			</span>
			<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_author']!=''">
				<dt tal:content="structure php: __T('MW_TR_AUTHOR')"></dt>
				<dd tal:content="structure RecordDetail/touristsitedetail_author"></dd>
			</span>
		</dl>
		<div class="clear"></div>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(RecordDetail['touristsitedetail_address'])">
			<h3 tal:content="structure php: __T('MW_TR_ADDRESS')" />
			<span tal:omit-tag="" tal:content="structure RecordDetail/touristsitedetail_address" />
		</span>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(RecordDetail['touristsitedetail_touristInfo'])">
			<h3 tal:content="structure php:__T('MW_TR_TOURISTINFO')" />
			<span tal:omit-tag="" tal:content="structure RecordDetail/touristsitedetail_touristInfo" />
		</span>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(RecordDetail['touristsitedetail_description'])">
			<h3 tal:content="structure php:__T('MW_TR_DESCRIPTION')" />
			<span tal:omit-tag="" tal:content="structure RecordDetail/touristsitedetail_description" />
		</span>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(RecordDetail['touristsitedetail_cronology'])">
			<h3 tal:content="structure php:__T('MW_TR_CRONOLOGY')" />
			<span tal:omit-tag="" tal:content="structure RecordDetail/touristsitedetail_cronology" />
		</span>
		<span tal:omit-tag="" tal:condition="php: !glz_empty(RecordDetail['touristsitedetail_bibliography'])">
			<h3 tal:content="structure php:__T('MW_TR_BIBLIOGRAPHY')" />
			<span tal:omit-tag="" tal:content="structure RecordDetail/touristsitedetail_bibliography" />
		</span>
	</div>
	<div id="imageList" tal:condition="php: RecordDetail['touristsitedetail_image2']['mediaId'] gt 0">
		<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_image2']['mediaId'] gt 0" tal:content="structure RecordDetail/touristsitedetail_image2/__html__" />
		<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_image3']['mediaId'] gt 0" tal:content="structure RecordDetail/touristsitedetail_image3/__html__" />
		<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_image4']['mediaId'] gt 0" tal:content="structure RecordDetail/touristsitedetail_image4/__html__" />
		<span tal:omit-tag="" tal:condition="php: RecordDetail['touristsitedetail_image5']['mediaId'] gt 0" tal:content="structure RecordDetail/touristsitedetail_image5/__html__" />
	</div>
	<div class="clear"></div>
	<div class="searchResults" tal:condition="php: count(RecordDetail['routes'])">
		<h3 tal:content="php: __T('MW_TR_LINKED')"/>
		<div tal:repeat="item RecordDetail/routes" tal:attributes="class item/__cssClass__">
			<div class="left" tal:condition="php: item['map'] gt 0">
				<a href="" tal:attributes="href item/__url__; structure title item/touristroutedetail_name"><img tal:attributes="src item/map/thumbnailSrc;structure alt item/map/title;structure title item/map/title;width item/map/thumbnailWidth;height item/map/thumbnailHeight;style item/map/style; class item/map/class"/></a>
			</div>
			<div class="right">
				<h4><a href="" tal:attributes="href item/__url__; structure title item/touristroutedetail_name" tal:content="structure item/touristroutedetail_name">Antica trireme</a></h4>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_category"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_category" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_country"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_country" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_region"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_region" />, </span>
				<span tal:omit-tag="" tal:condition="item/touristroutedetail_province"><span tal:omit-tag="" tal:content="structure item/touristroutedetail_province" /></span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="searchResults" tal:condition="php: count(RecordDetail['catalogs'])">
		<h3 tal:content="php: __T('MW_CATALOG_LINKED')"/>
		<div tal:repeat="item RecordDetail/catalogs" tal:attributes="class item/__cssClass__">
			<div class="left" tal:condition="php: item['catalogdetail_image1']['mediaId'] gt 0">
				<a href="" tal:attributes="href item/__url__; structure title item/catalogdetail_title"><span tal:omit-tag="" tal:content="structure item/catalogdetail_image1/__html__" /></a>
			</div>
			<div class="right">
				<h4><a href="" tal:attributes="href item/__url__; title item/catalogdetail_title" tal:content="structure item/catalogdetail_title"></a></h4>
				<p tal:condition="item/catalogdetail_place"><strong tal:content="structure php: __T('MW_CATALOG_CITY')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_place" /></p>
				<p tal:condition="item/catalogdetail_date"><strong tal:content="structure php: __T('MW_CATALOG_DATE2')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_date" /></p>
				<p tal:condition="item/catalogdetail_author"><strong tal:content="structure php: __T('MW_CATALOG_AUTHOR')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/catalogdetail_author" /></p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</span>