/*
html{
	margin:0 0 0 0px;
	padding:0 0 0 0px;
	float:none;
	font-size:12px;
}

body{
}
*/
div#header {
	margin: 0;
	padding: 0;
	height: 3em;
	background: #ffffff;
	border: 0;
}

div#header .headerLogo
{
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	border: 0;
}

div#header .headerLogo img
{
	display: none;
}

div#header .headerLogo h1
{
	text-indent: 0;
	font-size: 190%;
}

#topBar {
	display: none;
	
}

div#content{
	margin: 0;
	padding: 0;
	
}

div#internalWrap {
	width:auto;
	float: none;
}

div#leftSidebar{
	display: none;
	
}

div#rightSidebar{
	display: none;

}
