<div tal:attributes="id LoginBox/id">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
			<span class="lead" tal:content="LoginBox/title" />
		</div>
		<div class="panel-body">
			<form role="form" method="post" action="">
				<div class="alert alert-danger" tal:condition="LoginBox/errorLabel">
					<p class="error" tal:condition="LoginBox/errorLabel" tal:content="LoginBox/errorLabel"/>
				</div>
				<div class="form-group">				
					<label tal:attributes="for LoginBox/userField" tal:content="structure LoginBox/userLabel" />
					<input type="text" class="form-control input-sm" tal:attributes="id LoginBox/userField; name LoginBox/userField"/>
				</div>
				<div class="form-group">
					<label tal:attributes="for LoginBox/passwordField" tal:content="structure LoginBox/passwordLabel" />
					<input type="password" class="form-control input-sm" tal:attributes="id LoginBox/passwordField; name LoginBox/passwordField"/>
				</div>
				<div class="checkbox">
					<label for="remember" class="checkbox-inline"><input name="remember" id="remember" value="1" type="checkbox" /><span tal:content="structure LoginBox/rememberLabel" /></label>
				</div>
				<div class="form-group">
				<input type="submit" class="btn btn-primary btn-sm" tal:attributes="name LoginBox/submitName;structure value LoginBox/confirmLabel" />
				</div>
				<div style="margin-bottom:10px">
					<a class="" tal:attributes="href LoginBox/__url__" tal:content="structure LoginBox/registrationLabel"></a><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</div>
				<div>
					<a class="" tal:attributes="href LoginBox/askPasswordUrl" tal:content="structure LoginBox/askPasswordLabel"></a><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</div>
				
			</form>
		</div>
	</div>
</div>
