<div class="sideBox" id="boxNews" tal:condition="php: count(RecordSetBox['records'])">
<div class="panel panel-primary boxSidebar">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;	
		<span class="lead" tal:content="RecordSetBox/title" />
	</div>
	<div class="panel-body">
		<ul>
			<li tal:repeat="item RecordSetBox/records">
				<h4 class="date" tal:content="structure item/newsdetail_startDate" />
				<h4 class="title"><a href="" tal:content="structure item/newsdetail_title" tal:attributes="href item/__url__; structure title item/newsdetail_title">title</a></h4>
				<p><span tal:omit-tag="" tal:content="structure item/newsdetail_bodyShort" /></p>
			</li>
		</ul>
	</div>
</div>
</div>
