<div class="searchResults" tal:condition="php: !is_null(RecordSetList['records'])">
	<h3 tal:content="structure RecordSetList/title"/>
	<span tal:omit-tag="" tal:condition="php: count(RecordSetList['records'])">
		<div tal:repeat="item RecordSetList/records" tal:attributes="class item/__cssClass__">
			<div class="left" tal:condition="php: item['exhibitiondetail_image']['mediaId'] gt 0">
				<a href="" tal:attributes="href item/__url__; structure title item/exhibitiondetail_title"><span tal:omit-tag="" tal:content="structure item/exhibitiondetail_image/__html__" /></a>
			</div>
			<div class="right">
				<h4><a href="" tal:attributes="href item/__url__; structure title item/exhibitiondetail_title" tal:content="structure item/exhibitiondetail_title"></a></h4>
				<p tal:condition="item/exhibitiondetail_category"><strong tal:content="structure php: __T('Genere')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/exhibitiondetail_category" /></p>
				<p tal:condition="item/exhibitiondetail_place1"><strong tal:content="structure php: __T('Luogo')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/exhibitiondetail_place1" /></p>
				<p tal:condition="item/exhibitiondetail_place2"><strong tal:content="structure php: __T('Sede')"></strong>:&nbsp;<span tal:omit-tag="" tal:content="structure item/exhibitiondetail_place2" /></p>
			</div>
			<div class="clear"></div>
		</div>
	</span>
	<span tal:omit-tag="" tal:condition="php: !count(RecordSetList['records'])">
		<div class="around" >
			<p tal:content="php:__T('MW_NO_RECORD_FOUND')"></p>
		</div>
	</span>
	<div class="clear"></div>
</div>