<span tal:condition="php: count(Repeater)" tal:repeat="item Repeater" tal:omit-tag="">
	<div class="panel panel-primary" tal:attributes="id php: ('boxLink'.repeat.item.number)">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;
			<span class="lead" tal:content="structure item/HomeBoxLink-Title" />
		</div>
		<div class="panel-body">
			<p tal:omit-tag="" tal:content="structure item/HomeBoxLink-Description" />
			
					<a class=""  tal:attributes="href item/HomeBoxLink-Target; structure title item/HomeBoxLink-Title"><span tal:omit-tag="" tal:content="php: __T('MW_MORE')"/></a><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				
		</div>
	</div>
</span>
