<span tal:omit-tag="" tal:condition="php: count(Repeater)">
	<div class="row">
		<div class="list-group" id="gallery">
			<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3' tal:repeat="item Repeater">
				<div class="box"><span tal:omit-tag="" tal:content="structure item/attach/__html__" /></div>
				<small><span tal:omit-tag="" tal:content="structure item/attach/title"/></small><br />
				<small class='text-muted'><span tal:omit-tag="" tal:content="structure item/text" /></small>
			</div>
		</div> <!-- list-group / end --> 
	</div><!-- row / end -->
</span>
<!--span tal:omit-tag="" tal:condition="php: count(Repeater)">
	<ul id="gallery">
		<li tal:repeat="item Repeater">
			<div class="box"><span tal:omit-tag="" tal:content="structure item/attach/__html__" /></div>
			<dl>
				<dt><span tal:omit-tag="" tal:content="structure item/attach/title"/></dt>
				<dd><span tal:omit-tag="" tal:content="structure item/text" /></dd>
			</dl>
		</li> 
	</ul>
	<div class="clear"></div>
</span-->
